body{
	color: white;
	font-family: monospace;
	font-size: px;
}

.ericx344{	
	color: skyblue;
	font-size: 50px;
	font-family: cursive ;

}

.pr,h2 {
	color: darkred;
	font-size: 35px;
	font-family: inherit ;
}

h3 {
	color: yellowgreen;
	font-size: 25px;
	font-family: inherit ;
}

.cpr {	
	width: 25px ;
	height: auto ;
	margin: auto ;
	display: block;

}

.artts {
	width: 100px;
	height: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 5px 5px 0px #424242;
}

div	{
	width: 100%;
}
.ig {

	width: 75px;
	height: auto;
	border-radius: 10px;
	box-shadow: 5px 5px 0px #424242;
}
